<!DOCTYPE html>
<html lang="en">
 

    <%- include("../partials/head")%>


<body>

    <%- include("../partials/header")%>
    
    
    <main class="pageProdDetail">
        <div class="productPresentation">
            <div class="imgProduct">
                <img src="/img/products/<%= productDetail[0].image %>" alt="imagen del producto">
            </div>
            <div class="prodSpecification">
                <div class="prodNPD">
                    <h2 class="prodNPD"><%= productDetail[0].name %></h2>
                    <h3 class="prodPrice">Precio: $ <%= toThousand(productDetail[0].price) %></h3> <h3 class="prodDiscount">Descuento: <%= productDetail[0].discount %> %</h3>
                </div>
                
                
                <!-- <div class="buyElection"> -->
                    <!-- <div class="prodSCQ">
                        <nav class="prodSize">
                            <div class="controldelformulario">
                                <label>Talle</label>
                                <select name="Size" id=""class="controlSelect">
                                    <option value="Big">Grande</option>
                                    <option value="Medium">Mediano</option>
                                    <option value="Small">Pequeño</option>
                                </select>
                            </div>
                        </nav>
                        <nav class="prodColor">
                            <div class="controldelformulario">
                                <label>Color</label>
                                <select name="Color" id=""class="controlSelect">
                                    <option value="yellow">Amarillo</option>
                                    <option value="orange">Naranja</option>
                                    <option value="green">Verde</option>
                                    <option value="lightblue">Celeste</option>
                                </select>
                            </div>
                        </nav>
                        <nav class="prodQuantity">
                            <div class="controldelformulario">
                                <label>Cantidad</label>
                                <select name="prodQuantity" id=""class="controlSelect">
                                    <option value="1">1 Carpa</option>
                                    <option value="2">2 Carpas</option>
                                    <option value="3">3 Carpas</option>
                                    <option value="4">4 Carpas</option>
                                    <option value="5">5 Carpas</option>
                                    <option value="6">6 Carpas</option>
                                </select>
                            </div>
                        </nav>

                    -->
                    
                       <div class="controldelformulario">
            <label>Categoria </label>
            <input type="text"name="category" placeholder="Camping"class="control" value=" <%= productDetail[0].category %>">
        </div>


        <div class="controldelformulario">
            <label>Talle </label>
            <input type="text"name="size" placeholder="XXL"class="control" value= <%= productDetail[0].size %>>
        </div>


        <div class="controldelformulario">
            <label>Color </label>
            <input type="text"name="color" placeholder="Verde"class="control" value=" <%= productDetail[0].color %>">
        </div>

        <div class="controldelformulario">
            <label>Condicion </label>
            <input type="text"name="category_index" placeholder="In-Sales"class="control" value=" <%= productDetail[0].category_index %>">
        </div>    


                    <!-- </div>  -->


                    
                    <div>
                        <button class="buyButton">COMPRAR</button>
                    </div>    
                </div>
            </div>
        </div>
        <div class="prodDescription">
            <h3 class="prodNPD">Descripcion del Producto</h3>
            <p class="textProdDetail"><%= productDetail[0].description %></p>
            <!-- <p class="textProdDetail">The NORTHFACE lanza una carpa que resiste vientos de hasta 100km/h</p>
            <p class="textProdDetail">La Tienda tiene un escpacio para cuatro personas y se puede estar parado en su interior. Es liviana y facil de transportar</p> -->
        </div>
    </main>

    <%- include("../partials/footer")%>


</body>