<!DOCTYPE html>
<html lang="en">


<%- include("../partials/head")%>


<body>

    <%- include("../partials/header")%>
    <main>
        <H2>Edita el Producto</H2>
        
            <form action="/products/<%= productToEdit.id %>/?_method=PUT" class="createform" method="POST"
            enctype="multipart/form-data">
            <div class="controldelformulario">
                <label>Nombre del Producto</label>
                <input type="text" name="name" class="control" value=<%= productToEdit.name %>>
            </div>
            <div class="controldelformulario">
                <label>Seleccionar una imagen para el Producto:</label>
                <input type="file" name="image" accept=".jpg" class="control">
            </div>
            <div class="controldelformulario">
                <label>Precio</label>
                <input type="number" name="price" placeholder="123,45" class="control"
                    value=<%= toThousand(productToEdit.price) %>>

            </div>
            <div class="controldelformulario">
                <label>Descuento % </label>
                <input type="number" name="discount" placeholder="30%" class="control"
                    value=<%= productToEdit.discount %>>
            </div>

           

            <div class="controldelformulario">
                <label>Codigo de Talle </label>
                <input type="text" name="size" placeholder="XXL" class="control" value=<%= productToEdit.size_id %>>
            </div>


            <div class="controldelformulario">
                <label>Codigo Color </label>
                <input type="text" name="color" placeholder="Verde" class="control" value=<%= productToEdit.color_id %>>
            </div>

           
            <div class="controldelformulario">
                <label for="description">Descripcion del Producto</label>
                <textarea name="description" id="description" cols="30" rows="10"
                    class="control"><%= productToEdit.description %></textarea>

            </div>
           


            <div class="controldelformulario">
                <button type="submit">Guardar</button>
                <a class="button" href="/">Cancelar</a>
            </div>
        </form>

        <form action="/products/<%= productToEdit.id %>/?_method=DELETE" method="POST" enctype="multipart/form-data">
            <button class="ButtonMalo" type="submit">Eliminar</button>
        </form>



    </main>

    <%- include("../partials/footer")%>

    <script src="/js/productEdit.js"></script> 

</body>