<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head")%>


<body>
    <%- include("./partials/header")%>

    <div class="banner-home"><img src='./img/banner-home.jpg' alt='banner'></div>

    <main class="index-main">
        <div class= "h3-home">
            <h3>Ofertas destacadas</h3>
        </div>

      
        <section>
            <% products.forEach (function(id,i) { %>
            <article class="producto-oferta">
                
                <img src="./img/products/<%= products[i].image %>">
                <div class= "caja-productos">
                    <i class="fas fa-piggy-bank pig-sale"></i>
                    <div class="valores-oferta">
                        <p class="precio"><%= toThousand(products[i].price) %></p>
                        <p class="descuento"><%= products[i].discount %></p>
                    </div>
                    <div class="descripcion"><%= products[i].description %></div>
                </div>
              
            </article>
            <% }) %>
        </section>

        
    </main>

    <%- include("./partials/footer")%>
</body>

</html>